<footer class="footer mt-auto py-1">
  <div class="container">
    <small>
      The <a href="/">Vocabi app</a>
      by <a href="https://linkedin.com/in/ferreirati">Tiago Ferreira</a>
    </small>
<!--    <nav>-->
<!--      <ul>-->
<!--        <li><a href="/">Home</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
  </div>
</footer>