<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <%= link_to "Vocabi app", root_path, id: "logo", class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#main-navbar"
          aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>